<header class="site-header">

  <div class="wrapper">
			<img src=""  class="logo">
			<a href="#" class="menu_icon" id="menu_icon"></a>
			<nav id="nav_menu">
				<ul>
					<li><a href="/index.html">Home</a></li>
          <li><a href="/About/">About Us</a></li>
					<li ><a style= "color:red" href="#">Join</a></li>
					<li><a href="/programme/">Programmes</a></li>
					<!-- <li><a href="#">Team</a></li>
					<li><a href="#">Gallery</a></li> -->
					<li><a href="/blog/">Blog</a></li>

					<li><a href="/partners.html">Partners</a></li>
					<li><a href="/Contact/">Contact</a></li>
				</ul>
			</nav>

			<ul class="social">
				<li><i class="fa fa-facebook-square fa-3x carrot"></i> </li>
				<li><i class="fa fa-twitter-square fa-3x carrot"></i></li>
				<li><i class="fa fa-instagram fa-3x carrot"></i></li>
				<li><i class="fa fa-youtube fa-3x carrot"></i></li>
			</ul>

		</div>
</header>
